<div dir="ltr">
    <h4>Event Registration Success!</h4>
    
    Your registration has been verified, go to the following link to get whatsapp group and qr code event.<br>
    <a target="_blank" href="{{ domain }}{% url 'registered' enc %}">{{ domain }}{% url 'registered' enc %}</a><br><br>

    Best Regards,<br>
    Committee YMCC<br><br>
    
    <i>Please do not reply to this message. Replies to this message are routed to an unmonitored mailbox.</i><br><br>

    <table border="0" cellspacing="0" cellpadding="0" style="font-family:&quot;Times New Roman&quot;,serif;font-size:16px">
        <tbody>
            <tr>
                <td colspan="2" style="padding:0cm">
                    <p class="MsoNormal" style="margin:0cm;line-height:normal;font-size:11pt;font-family:Calibri,sans-serif"><b><span style="font-size:13.5pt;font-family:&quot;Trebuchet MS&quot;,sans-serif;color:rgb(69,129,142)">YOUTH MINING CAMP COMPETITION-V 2023</span></b><span style="font-size:12pt;font-family:Roboto"></span></p>
                </td>
            </tr>
            <tr>
                <td width="20" valign="top" style="width:15pt;padding:0cm">
                    <p class="MsoNormal" style="margin:0cm;line-height:normal;font-size:11pt;font-family:Calibri,sans-serif"><span style="font-size:10.5pt;font-family:&quot;Trebuchet MS&quot;,sans-serif;color:rgb(69,129,142)">m:</span><span style="font-size:10.5pt;font-family:Roboto"></span></p>
                </td>
                <td style="padding:0cm">
                    <p class="MsoNormal" style="margin:0cm;line-height:normal;font-size:11pt;font-family:Calibri,sans-serif"><span style="font-size:10.5pt;font-family:Roboto;color:rgb(51,51,51)">+62877-2730-5217 (Septian Izham Ismail-Ketua YMCC-V 2023)<br>+62812-6363-7703 (Christopher-Manager Liaison Officer YMCC-V 2023)</span></p>
                </td>
            </tr>
            <tr>
                <td width="20" valign="top" style="width:15pt;padding:0cm">
                    <p class="MsoNormal" style="margin:0cm;line-height:normal;font-size:11pt;font-family:Calibri,sans-serif"><span style="font-size:10.5pt;font-family:Roboto;color:rgb(69,129,142)">a:</span><span style="font-size:10.5pt;font-family:Roboto"></span></p>
                </td>
                <td valign="top" style="padding:0cm">
                    <p class="MsoNormal" style="margin:0cm;line-height:normal;font-size:11pt;font-family:Calibri,sans-serif"><span style="font-size:10.5pt;font-family:Roboto;color:rgb(51,51,51)">Universitas Pembangunan Nasional "Veteran" Yogyakarta</span></p>
                </td>
            </tr>
            <tr>
                <td width="20" valign="top" style="width:15pt;padding:0cm">
                    <p class="MsoNormal" style="margin:0cm;line-height:normal;font-size:11pt;font-family:Calibri,sans-serif"><span style="font-size:10.5pt;font-family:Roboto;color:rgb(247,117,31)">&nbsp;</span></p>
                </td>
                <td valign="top" style="padding:0cm">
                    <p class="MsoNormal" style="margin:0cm;line-height:normal;font-size:11pt;font-family:Calibri,sans-serif"><span style="font-size:10.5pt;font-family:Roboto;color:rgb(51,51,51)">(Jl.SWK 104, Condongcatur, Kec.Depok, Kab. Sleman, DIY)</span></p>
                </td>
            </tr>        
            <tr>
                <td width="20" valign="top" style="width:15pt;padding:0cm">
                    <p class="MsoNormal" style="margin:0cm;line-height:normal;font-size:11pt;font-family:Calibri,sans-serif"><span style="font-size:10.5pt;font-family:Roboto;color:rgb(69,129,142)">e:</span><span style="font-size:10.5pt;font-family:Roboto"></span></p>
                </td>
                <td valign="top" style="padding:0cm">
                    <p class="MsoNormal" style="margin:0cm 0cm 12pt;line-height:normal;font-size:11pt;font-family:Calibri,sans-serif"><a href="mailto:ymcc.hmtaupnyk@upnyk.ac.id" style="color:blue" target="_blank">ymcc.hmtaupnyk@upnyk.ac.id</a>
                    <!-- 
                        Youtube: <a href="https://www.youtube.com/channel/UCJPxttZs_Dg8hxZ-vx61lgQ" style="font-family:Arial,Helvetica,sans-serif;font-size:small" target="_blank">YMCC UPNVY</a><br>
                        Instagram: <a href="https://www.instagram.com/ymcc_upnyk/?hl=id" style="font-family:Arial,Helvetica,sans-serif;font-size:small" target="_blank">@ymcc_upnyk</a><br>
                        Facebook: <a href="https://www.facebook.com/youthminingcampcompetition?_rdc=2&amp;_rdr" style="font-family:Arial,Helvetica,sans-serif;font-size:small" target="_blank">YMCC V 2023</a><br>
                        Linkedin: <a href="https://www.linkedin.com/company/youth-mining-camp-competition-2023-hmta-upnyk/" style="font-family:Arial,Helvetica,sans-serif;font-size:small" target="_blank">Youth Mining Camp Competition V 2023</a>
                     -->
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>