{% extends "event/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <title>YMCC 2023 | {{ event.name }} Registration Form</title>
    <link rel="stylesheet" href="{% static 'event/css/style.css' %}">
{% endblock head %}

{% block content %}
<div class="container mb-5 mt-5 pl-5 pr-5">
  <h3 class="">{{ event.name }} Registration Form</h3>
  <hr class="mb-4">
  <form action="{% url 'registration' event.name %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
{% endblock content %}